html {
  --blue0: rgb(245, 248, 255);
  --blue5: rgb(211, 225, 255);
  --blue10: rgb(176, 202, 255);
  --blue15: rgb(146, 182, 255);
  --blue20: rgb(115, 162, 255);
  --blue30: rgb(70, 132, 255);
  --blue40: rgb(38, 110, 255);
  --blue50: rgb(16, 94, 255);
  --blue60: rgb(0, 82, 255);
  --blue70: rgb(0, 75, 235);
  --blue80: rgb(0, 62, 193);
  --blue90: rgb(0, 41, 130);
  --blue100: rgb(0, 24, 77);
  --green0: rgb(245, 255, 251);
  --green5: rgb(203, 245, 227);
  --green10: rgb(163, 235, 205);
  --green15: rgb(131, 224, 186);
  --green20: rgb(101, 214, 167);
  --green30: rgb(60, 194, 138);
  --green40: rgb(34, 173, 115);
  --green50: rgb(18, 153, 97);
  --green60: rgb(9, 133, 81);
  --green70: rgb(4, 112, 67);
  --green80: rgb(1, 92, 54);
  --green90: rgb(0, 71, 42);
  --green100: rgb(0, 51, 30);
  --orange0: rgb(255, 250, 245);
  --orange5: rgb(254, 232, 210);
  --orange10: rgb(253, 213, 176);
  --orange15: rgb(251, 194, 147);
  --orange20: rgb(249, 174, 118);
  --orange30: rgb(244, 140, 76);
  --orange40: rgb(237, 112, 47);
  --orange50: rgb(225, 89, 27);
  --orange60: rgb(207, 71, 14);
  --orange70: rgb(181, 54, 6);
  --orange80: rgb(145, 39, 2);
  --orange90: rgb(100, 26, 0);
  --orange100: rgb(51, 13, 0);
  --yellow0: rgb(255, 253, 244);
  --yellow5: rgb(254, 248, 217);
  --yellow10: rgb(252, 242, 191);
  --yellow15: rgb(249, 233, 165);
  --yellow20: rgb(245, 224, 139);
  --yellow30: rgb(231, 201, 91);
  --yellow40: rgb(213, 173, 54);
  --yellow50: rgb(188, 141, 27);
  --yellow60: rgb(159, 106, 9);
  --yellow70: rgb(125, 72, 0);
  --yellow80: rgb(90, 44, 0);
  --yellow90: rgb(55, 23, 0);
  --yellow100: rgb(25, 8, 0);
  --gray0: rgb(255, 255, 255);
  --gray5: rgb(238, 240, 243);
  --gray10: rgb(222, 225, 231);
  --gray15: rgb(206, 210, 219);
  --gray20: rgb(191, 196, 207);
  --gray30: rgb(163, 169, 182);
  --gray40: rgb(137, 144, 158);
  --gray50: rgb(113, 120, 134);
  --gray60: rgb(91, 97, 110);
  --gray70: rgb(70, 75, 85);
  --gray80: rgb(50, 53, 61);
  --gray90: rgb(30, 32, 37);
  --gray100: rgb(10, 11, 13);
  --indigo0: rgb(246, 247, 255);
  --indigo5: rgb(230, 232, 255);
  --indigo10: rgb(214, 218, 254);
  --indigo15: rgb(198, 204, 253);
  --indigo20: rgb(181, 189, 253);
  --indigo30: rgb(148, 161, 251);
  --indigo40: rgb(116, 135, 247);
  --indigo50: rgb(89, 111, 242);
  --indigo60: rgb(66, 91, 233);
  --indigo70: rgb(47, 74, 215);
  --indigo80: rgb(31, 54, 173);
  --indigo90: rgb(17, 32, 107);
  --indigo100: rgb(8, 15, 51);
  --pink0: rgb(255, 245, 255);
  --pink5: rgb(253, 228, 253);
  --pink10: rgb(251, 212, 250);
  --pink15: rgb(248, 195, 245);
  --pink20: rgb(244, 178, 240);
  --pink30: rgb(235, 143, 227);
  --pink40: rgb(221, 110, 209);
  --pink50: rgb(203, 81, 187);
  --pink60: rgb(179, 58, 162);
  --pink70: rgb(149, 39, 133);
  --pink80: rgb(116, 26, 102);
  --pink90: rgb(83, 17, 72);
  --pink100: rgb(51, 10, 44);
  --purple0: rgb(251, 247, 255);
  --purple5: rgb(244, 233, 255);
  --purple10: rgb(235, 219, 254);
  --purple15: rgb(227, 204, 253);
  --purple20: rgb(217, 189, 253);
  --purple30: rgb(197, 160, 251);
  --purple40: rgb(177, 132, 247);
  --purple50: rgb(157, 107, 242);
  --purple60: rgb(138, 85, 233);
  --purple70: rgb(119, 67, 215);
  --purple80: rgb(90, 48, 173);
  --purple90: rgb(54, 27, 107);
  --purple100: rgb(25, 13, 51);
  --red0: rgb(255, 245, 246);
  --red5: rgb(254, 225, 228);
  --red10: rgb(253, 206, 210);
  --red15: rgb(251, 186, 191);
  --red20: rgb(249, 166, 173);
  --red30: rgb(244, 127, 136);
  --red40: rgb(237, 89, 102);
  --red50: rgb(225, 57, 71);
  --red60: rgb(207, 32, 47);
  --red70: rgb(181, 15, 29);
  --red80: rgb(145, 5, 16);
  --red90: rgb(100, 1, 9);
  --red100: rgb(51, 0, 4);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}
